@import '../../styles/settings/colors';
@import '../../styles/settings/spacing';
@import '../../styles/settings/media';
@import '../../styles/settings/typography';

a.blog-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin: 0;
  border: 0.1rem solid transparent;
  border-radius: 0.2rem;

  &:hover h3,
  &:focus h3 {
    color: $color-pink;
  }

  &:hover small,
  &:focus small {
    color: $color-black;
  }

  &:not(:last-child) {
    margin-bottom: $global-spacing-xlg;
  }

  @include screen-tablet-portrait {
    width: 48%;
  }

  @include screen-tablet-landscape {
    width: 30%;
  }

  @include screen-laptop {
    width: 30%;
  }

  @include screen-desktop {
    width: 30%;
  }
}

.blog-link__post {
  width: 100%;

  h3 {
    margin-top: $global-spacing-sm;
  }

  small {
    font-family: $font-tertiary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.blog-link__tags span:not(:last-child):after {
  content: ',';
  margin-right: 4px;
}
