// BUTTON

.u-button {
  color: $color-white;
  background-color: $color-rose-gold;
  text-align: center;
  letter-spacing: 0.2rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  display: inline-block;
  height: 3.6rem;
  line-height: 3.6rem;
  width: fit-content;
  max-width: 25rem;
  padding: 0 1.6rem;
  text-transform: uppercase;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14),
    0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.12),
    0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);

  &:hover,
  &:focus {
    background-color: $color-dark-rose-gold;
    box-shadow: 0.1rem 0.4rem 0.4rem 0.1rem rgba(0, 0, 0, 0.2),
      0.1rem 0.4rem 0.2rem -0.1rem rgba(0, 0, 0, 0.2),
      0.1rem 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, 0.5);
  }
}
