// INPUT

input.u-input {
  display: block;
  width: 100%;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-body;
  border: 1px solid $color-gray-600;
  padding: 12px;
  min-height: 20px;
  box-sizing: border-box;
  background-color: transparent;

  &:focus {
    outline: 1px solid $color-pink;
  }

  &--small {
    max-width: 30rem;
    min-width: 25rem;
  }
}
