// INPUT

input.u-input {
  display: block;
  width: 100%;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-body;
  border: 1px solid $color-gray-600;
  padding: 12px;
  min-height: 20px;
  box-sizing: border-box;

  &:focus {
    outline: 1px solid $color-pink;
  }

  &--small {
    max-width: 30rem;
    min-width: 25rem;
  }
}

// .search {
//   background-image: url('/images/icon-search.png');
//   height: 2rem;
//   width: 2rem;
//   transition: background-image .2s ease-out;
//   padding: 12px 12px 12px 45px;
//   background: no-repeat 15px 50%;
//   width: 100%;
//   min-height: 20px;
//   display: block;
//   box-sizing: border-box;
// }
