// LISTS

.u-unordered-list {
  margin: 0 0 $global-spacing-sm $global-spacing-sm;

  li {
    margin-bottom: 0.5rem;
  }

  ul li {
    margin-left: $global-spacing-md;
  }
}

.u-ordered-list {
  margin: 0 0 $global-spacing-sm $global-spacing-sm;

  &--sublist {
    list-style-type: lower-alpha;
    margin-left: $global-spacing-md;
  }
}
