// MARGIN

.u-margin-bottom-xs {
  margin-bottom: $global-spacing;
}

.u-margin-bottom-sm {
  margin-bottom: $global-spacing-sm;
}

.u-margin-bottom-md {
  margin-bottom: $global-spacing-md;
}

.u-margin-bottom-lg {
  margin-bottom: $global-spacing-lg;
}

.u-margin-bottom-xlg {
  margin-bottom: $global-spacing-xlg;
}

.u-margin-top-xs {
  margin-top: $global-spacing;
}

.u-margin-top-sm {
  margin-top: $global-spacing-sm;
}

.u-margin-top-md {
  margin-top: $global-spacing-md;
}

.u-margin-top-lg {
  margin-top: $global-spacing-lg;
}

.u-margin-top-xlg {
  margin-top: $global-spacing-xlg;
}

.u-margin-left-xs {
  margin-left: $global-spacing;
}

.u-margin-left-sm {
  margin-left: $global-spacing-sm;
}

.u-margin-left-md {
  margin-left: $global-spacing-md;
}

.u-margin-left-lg {
  margin-left: $global-spacing-lg;
}

.u-margin-left-xlg {
  margin-left: $global-spacing-xlg;
}
