@import '../settings/media';

// VISIBILITY

.u-hidden {
  display: none !important;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.u-mobile-only {
  @include screen-tablet-portrait-and-bigger {
    display: none;
  }
}

.u-desktop-only {
  @include screen-tablet-portrait-and-smaller {
    display: none;
  }
}

.u-column-reserve {
  display: flex;
  flex-direction: column-reverse;
}
