// LISTS

ul {
  margin: 0 0 $global-spacing-sm $global-spacing-sm;

  li {
    margin-bottom: 0.5rem;
  }

  ul li {
    margin-left: $global-spacing-md;
  }
}

ol {
  margin: 0 0 $global-spacing-sm $global-spacing-sm;

  ol {
    list-style-type: lower-alpha;
    margin-left: $global-spacing-md;
  }
}
