@import '../../styles/settings/spacing';
@import '../../styles/settings/colors';
@import '../../styles/settings/media';
@import '../../styles/settings/typography';

.c-ebook {
  display: flex;
  flex-direction: column;
  width: 100%;

  img {
    max-width: 35rem;
    object-fit: contain;
  }

  h2 {
    margin: $global-spacing-sm 0;

    @include screen-tablet-portrait-and-bigger {
      margin: $global-spacing-xlg 0 $global-spacing-lg;
    }
  }

  p {
    font-family: $font-primary;
    font-size: 2.2rem;
    margin-bottom: 40px;
  }

  ol li {
    font-family: $font-tertiary;
    margin-bottom: $global-spacing-sm;
    font-size: 1.7rem;
  }

  section {
    width: 100%;
  }

  .ebook__image-wrapper {
    width: 100%;
    margin-bottom: $global-spacing-lg;
  }

  @include screen-tablet-portrait-and-bigger {
    flex-direction: row;
    margin-bottom: $global-spacing-xlg;

    .ebook__image-wrapper {
      width: 35%;
      margin: 0 $global-spacing-lg 0 0;
    }

    section {
      width: 65%;
    }
  }
}
