@import '../../styles/settings/spacing';
@import '../../styles/settings/colors';
@import '../../styles/settings/typography';

.c-navbar {
  &--desktop {
    .navbar__nav {
      height: 7rem;
    }

    .navbar__nav-list {
      display: flex;
      list-style: none;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    .navbar__nav-item a {
      padding: $global-spacing-sm;
      height: 7rem;
      width: 100%;
      display: flex;
      text-decoration: none;
      font-family: $font-tertiary;
      color: $color-black;
      text-transform: uppercase;
      transition: all 0.4s ease-in-out;
    }

    .navbar__nav-item a:hover,
    .navbar__nav-item a:focus {
      color: $color-pink;
      cursor: pointer;
    }
  }

  &--mobile {
    .navbar__nav {
      position: absolute;
      visibility: visible;
      top: 0;
      right: 0;
      max-width: 35rem;
      width: 70%;
      height: 108vh;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $color-alabaster-white;
      box-shadow: 0 0 1.3rem 0 rgba($color-gray-800, 0.4);
    }

    .navbar__button-row {
      height: 13rem;
      width: 100%;
      padding: $global-spacing-sm $global-spacing-md;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .navbar__close-icon {
      height: 4rem;
      width: 4rem;
    }

    .navbar__nav-list {
      list-style: none;
      width: 100%;
      padding: $global-spacing-sm;
      margin: 0;
    }

    .navbar__nav-item {
      height: 8rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navbar__nav-item a {
      text-decoration: none;
      font-family: $font-tertiary;
      color: $color-black;
      text-transform: uppercase;
      transition: all 0.4s ease-in-out;
    }

    .navbar__nav-item a:hover,
    .navbar__nav-item a:focus {
      color: $color-pink;
      cursor: pointer;
    }
  }
}
