// COLORS

$color-white: #fff !default;
$color-alabaster-white: #fbfbfb !default;
$color-gray-100: #f8f9fa !default;
$color-gray-200: #e9ecef !default;
$color-gray-300: #dee2e6 !default;
$color-gray-400: #ced4da !default;
$color-gray-500: #adb5bd !default;
$color-gray-600: #868e96 !default;
$color-gray-700: #424344 !default;
$color-gray-800: #343a40 !default;
$color-gray-900: #212529 !default;
$color-devil-gray: #666666 !default;
$color-dark-gray: #222 !default;
$color-black: #000 !default;

$color-purple: #673ab7 !default;
$color-ice-pink: #fdf5f0 !default;
$color-light-pink: pink !default;
$color-hot-pink: #f48fb1 !default;
$color-pink: #de3163 !default;
$color-jam-pink: #ad0b55 !default;
$color-rose-gold: #b76e79 !default;
$color-dark-rose-gold: #ad5a66 !default;
$color-light-red: #fef7f7 !default;
$color-sunglo-red: #e66465 !default;
$color-red: #f44336 !default;
$color-empire-red: #a9180e !default;
$color-faded-red: #fd1212 !default;
$color-dark-red: #8a0900 !default;
$color-orange: #ff5722 !default;
$color-yellow: #ffe180 !default;
$color-gold: #ffdf00 !default;
$color-light-green: #f6faf3 !default;
$color-lime-green: #8bc34a !default;
$color-green: #4d9f0c !default;
$color-teal: #009688 !default;
$color-cyan: #02ddf9 !default;
$color-light-blue: #b1dbfc !default;
$color-blue: #008cff !default;
$color-dark-blue: #0363f4 !default;
$color-gulf-blue: #071358 !default;
$color-indigo: #3f51b5 !default;
