@import '../../styles/settings/spacing';
@import '../../styles/settings/typography';

.contact p {
  font-family: $font-tertiary;
}

.social-media {
  width: 100%;
  height: $global-spacing-md;
  display: flex;
  justify-content: space-between;
  max-width: 35rem;
  margin: 0 auto;
}

.social-media img {
  height: 3rem;
  width: 3rem;
  transform: none;
  transition: transform 0.2s ease-in-out;
}

.social-media a:hover img.social-media__icon,
.social-media a:focus img.social-media__icon {
  transform: rotate(20deg);
  height: 2.7rem;
  width: 2.7rem;
}
