@import '../../styles/settings/colors';
@import '../../styles/settings/spacing';
@import '../../styles/settings/media';
@import '../../styles/settings/typography';

.footer {
  width: 100%;
  background-color: $color-black;

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $global-spacing-md $global-spacing-md $global-spacing-xs;

    section {
      justify-content: center;
      width: 100%;
    }

    @include screen-mobile-plus {
      padding: $global-spacing-lg 0.8rem $global-spacing-xs;
    }

    @include screen-tablet-portrait {
      padding: $global-spacing-lg 3rem $global-spacing-xs;
    }

    @include screen-tablet-landscape {
      padding: $global-spacing-xlg 5rem $global-spacing-xs;
    }

    @include screen-laptop {
      padding: $global-spacing-xlg 12rem $global-spacing-xs;

      section {
        justify-content: space-between;
      }
    }

    @include screen-desktop {
      padding: $global-spacing-md 12rem $global-spacing-xs;

      section {
        justify-content: space-between;
      }
    }

    hr {
      width: 100%;
      background-color: $color-alabaster-white;
      margin-top: $global-spacing-xlg;
    }

    p {
      color: $color-white;
      font-family: $font-tertiary;
      margin-bottom: 0;
    }

    a {
      color: $color-white;

      &:hover,
      &:focus {
        color: $color-hot-pink;
      }
    }
  }
}

.footer__heart {
  color: $color-pink;
}
